<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.simpleui.simpleui">

    <!-- parse.com -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--  -->
    <application
        android:name=".SimpleUIApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- parse.com -->
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="XcUmvcSIMJefbmJDFcidLC6mNBQEAaGHYiGPSYAS" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="DnZ3ggXI55eF8ypD5bps3eBYQ0qAFCHehre5Wu6a" />

        <!--
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="J1Jv0XjBPezieAgDeYo9FmAlUBCWaauVIs6mhvQ2" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="sBrwCLrxZKNVk2gyXjZMuGCJhUFChUBIbxeRtuqV" />
        -->
        <!--  -->

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DrinkMenuActivity" />
        <activity android:name=".OrderDetailActivity"></activity>
    </application>

</manifest>
